@import "tailwindcss";


@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme {
   --color-sahara:#eba10e;
   --color-graySand:#312e2e;
   --color-myCyan:#008394;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a; /* Fixed to a dark color */
    --foreground: #ededed;
    --peach-yellow: #008394;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 
}

.react-datepicker-popper {
  z-index: 9999;
}